body {
	font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 18px;
	color: #bbbbbb;
	background: #000084;
}

/***************
   Typography
***************/

@font-face {
	font-family: 'DOS';
	src: url('fonts/Fixedsys500c.eot');
	src: local('☺'), url('fonts/Fixedsys500c.woff') format('woff'), url('fonts/Fixedsys500c.ttf') format('truetype'), url('fonts/Fixedsys500c.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

a, 
a:visited {
	color: #fefe54;
	text-decoration: none;
	background: transparent;
}

a:hover {
	color: #fefe54;
	background: #aa5500;
}

p {
	margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 18px;
	font-family: inherit;
	font-weight: inherit;
	color: #ffffff;
	text-rendering: optimizelegibility;
}

h4 {
	color: #fe54fe;
}

/*******************
    Progress bar
*******************/

.progress {
	border: none;
	display: block;
	height: 1rem;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

/*******************
     Layout
*******************/

/* Header + Navigation brand + Navigation bar */

.main-header {
	position: sticky;
	top: 0;
	background: #bbbbbb;
}

.navbar-brand {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	padding: 0 12px 0 12px;
}

.navbar-brand a:first-child {
	flex-grow: 2;
	padding-right: 6px;
}

.navbar-menu {
	display: none;
}

.navbar-menu.is-expanded {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	flex-shrink: 0;
	padding: 6px 0 0 12px;
}

.navbar-menu.is-expanded a {
	padding-top: 6px;
	padding-bottom: 6px;
}

.navbar-brand a {
	color: #000084;
}

.navbar-brand a:last-child::after {
	font-family: 'Font Awesome 6 Free';
	font-size: 24px;
	content: "\f0d7";
}

.navbar-brand a.is-expanded::after {
	font-family: 'Font Awesome 6 Free';
	font-size: 24px;
	content: "\f0d8";
}

.navbar-menu a,
.navbar-brand a:last-child:focus {
	color: #000000;
	background: #bbbbbb;
}

.navbar-menu a.is-active {
	color: #bbbbbb;
	background: #000000;
}

.navbar-brand a:first-child:focus,
.navbar-brand a:first-child:hover,
.navbar-menu a:focus,
.navbar-menu a:hover {
	color: #bbbbbb;
	background: #000000;
}

@media (min-width: 980px) {
	.navbar {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.navbar-brand {
		display: block;
		padding: 0;
	}
	.navbar-brand a:first-child {
		padding: 0 6px 0 12px;
		display: block;
	}
	.navbar-brand a:last-child {
		display:none;
	}
	.navbar-menu {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 0;
	}
	.navbar-menu a {
		display: block;
		padding: 0 6px 0 6px;
		text-align: center;
	}
}

/* Table of contents */

.nav-list {
	list-style: none;
	background: #bbbbbb;
	padding: 6px 32px;
	margin: 32px;
	border: 2px solid #000000;
	box-shadow: 0 0 0 5px, 11px 13px 0 4px black;
}

.nav-list-header {
	margin-left: -16px;
	text-transform: uppercase;
}

.nav-list > li > a {
	display: block;
	color: #000000;
	background: #bbbbbb;
}

.nav-list > li > a:focus,
.nav-list > li > a:hover {
	color: #bbbbbb;
	background: #000000;
}

@media (min-width: 980px) {
	.nav-list{
		position: sticky;
		top: 64px;
	}
}

/* Hero */

.hero {
	padding: 32px 2px;
	text-align: center;
	border-bottom: 2px solid #ffffff;
}

.hero h1 {
	font-size: 46px;
	line-height: 1;
	margin: 0;
}

/* Side */

.side {
	padding-left: 12px;
	padding-right: 12px;
}

.side section .item {
	margin-left: 12px;
	margin-bottom: 6px;
}

/* Skills section */

.skills .item h2 {
	margin-bottom: 6px;
	margin-top: 6px;
}

.skills .item {
	margin-right: 12px;
	margin-bottom: 12px !important;
}

/* Content */

.content {
	padding-left: 12px;
	padding-right: 12px;
}

.content h1 {
	padding: 20px 20px;
	margin: 20px 0 20px;
	background: #00aaaa;
	color: #000000;
	text-transform: uppercase;
}

.content .item h2 {
	margin-left: 12px;
	margin-bottom: 0;
	margin-top: 0;
}

.content .item h4 {
	margin-left: 12px;
	margin-bottom: 6px;
	margin-top: 12px;
}

.content .item ul {
	margin-top: 6px;
	margin-bottom: 6px;
	padding-left: 40px;
}

.content .item ul li {
	margin-bottom: 3px;
}

/* Footer */

.main-footer {
	border-top: 2px solid #ffffff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 6px 0 6px 0;
	padding: 0;
}

.social-icons a {
	padding: 0 6px 0 6px;
	font-size: 1em;
}

@media (min-width: 980px) {
	.social-icons a {
		font-size: 1.5em;
	}
}

/* Grid */

.main-header {
	grid-area: header;
}

.hero {
	grid-area: hero;
}

.content {
	grid-area: content;
}

.side {
	grid-area: sidebar;
}

.main-footer {
	grid-area: footer;
}

.grid {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"sidebar"
		"content"
		"footer";
	margin: 0 auto 0 auto;
	gap: 6px;
}

@media (min-width: 980px) {
	.grid {
		width: 980px;
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"header    header"
			"hero      hero"
			"sidebar   content"
			"footer    footer";
	}
}