---
layout: page
title: Site Objects
permalink: /siteobjects
---

<h2 class="post-list-heading"> My Posts </h2>

<ul class="post-list">
	{% for post in site.posts %}
		<li>
			<h3><a class="post-link" href="{{ post.url }}">{{ post.title | default: post.url }}</a></h3>
			<ul class="post-list">
				<li><strong>Path: </strong>{{ post.path }}</li>
				<li><strong>Date: </strong>{{ post.date }}</li>
				<li><strong>Url: </strong><a href="{{ post.url }}">{{ post.url }}</a></li>
			</ul>
		</li>
	{% endfor %}
</ul>

<h2 class="post-list-heading"> My Pages </h2>

<ul class="post-list">
	{% for page in site.pages %}
		<li>
			<h3><a class="post-link" href="{{ page.url }}">{{ page.title | default: page.url }}</a></h3>
			<ul class="post-list">
				<li><strong>Path: </strong>{{ page.path }}</li>
				<li><strong>Url: </strong><a href="{{ page.url }}">{{ page.url }}</a></li>
			</ul>
		</li>
	{% endfor %}
</ul>

<h2 class="post-list-heading"> My Collections </h2>

<ul class="post-list">
	{%- for collection in site.collections -%}
		<li>
			<h3>{{ collection.label }}</h3>
			<ul class="post-list">
				<li><strong>Relative Directory: </strong>{{ collection.relative_directory }}</li>
				<li><strong>Directory: </strong>{{ collection.directory }}</li>
				<li><strong># Documents: </strong>{{ collection.docs.size }}</li>
			</ul>
		</li>
	{%- endfor -%}
</ul>


<h2 class="post-list-heading"> My Static Files </h2>

<ul class="post-list">
	{% for staticFile in site.static_files %}
		<li>
			<h3><a class="post-link" href="{{ staticFile.path }}">{{ staticFile.name }}</a></h3>
			<ul class="post-list">
				<li><strong>Path: </strong>{{ staticFile.path }}</li>
				<li><strong>Modified time: </strong>{{ staticFile.modified_time }}</li>
			</ul>
		</li>
	{% endfor %}
</ul>

<h2 class="post-list-heading"> My Categories </h2>

<ul class="post-list">
	{% for category in site.categories %}
		<li>
			<h3>{{ category[0] }}</h3>
		</li>
	{% endfor %}
</ul>

<h2 class="post-list-heading"> My Tags </h2>

<ul class="post-list">
	{% for tag in site.tags %}
		<li>
			<h3>{{ tag[0] }}</h3>
		</li>
	{% endfor %}
</ul>