/**
* html - full heigh
**/

html {
  height: 100%;
}

/**
 * Site layout
 */

body {
   height: 100%;
   display: grid;
   grid-gap: 0px;
   grid-template-columns: 
     1fr /* left horizontal adjustment */
     minmax(auto, $medium-screen) /* content */
     1fr; /* right horizontal adjustment */
   grid-template-rows: 
     auto /* masthead */
     auto /* page content */
     1fr /* vertical adjustment */ 
     auto; /* footer */
}

/**
 * Site masthead
 */

.gds-site-header {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin: 0 1rem;
  a {
    color: $gds-masthead-color-link;
  }
}

.gds-site-title {
   flex: 0 0 auto;
   margin-right: auto;
   font-size: $navbar-brand-font-size;
   letter-spacing: -1px;
}

.gds-site-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.gds-site-nav-link {
  font-size: $navbar-font-size;
  margin-right: 1.5em;
  &:last-child {
    margin-right: 0;
  }
  @media #{$medium-and-up} {
    margin-right: 1em;
  }
}

.gds-site-nav-link-icon {
}

.gds-site-nav-link-title {
  display: none;
  @media #{$medium-and-up} {
    display: inline;
  }
}

/**
 * Page content
 */
 
.gds-page-content {
  grid-column: 2;
  grid-row: 2;
}

/**
 * Site footer
 */
 
.gds-footer {
  grid-column: 2;
  grid-row: 4;
}

/**
* Top and bottom backgrounds
**/

.gds-top-background {
  grid-column: 1 / 4;
  grid-row: 1;
  z-index: -999;
  background-color: $primary-color;
  @extend .z-depth-1;
}

.gds-bottom-background {
  grid-column: 1 / 4;
  grid-row: 4;
  z-index: -999;
  background-color: $primary-color;
}