<header class="gds-site-header">

	<a class="gds-site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
	<nav class="gds-site-nav">
	
		<a class="gds-site-nav-link" href="https://script.google.com/macros/s/AKfycbxX_imUaUNkDx3pJ9IXbflE48gJJigNxrnaoNP5ZF2gUWDgKv5M8ro--SdQ76XYwTmwMg/exec">
			<span class="gds-site-nav-link-icon"><i class="fas fa-vial"></i></span>
			<span class="gds-site-nav-link-title">Test</span>
		</a>	
		<a class="gds-site-nav-link" href="/db">
			<span class="gds-site-nav-link-icon"><i class="fas fa-database"></i></span>
			<span class="gds-site-nav-link-title">Database</span>
		</a>
		<a class="gds-site-nav-link" href="/help">
			<span class="gds-site-nav-link-icon"><i class="fas fa-question"></i></span>
			<span class="gds-site-nav-link-title">Help</span>
		</a>
		<a class="gds-site-nav-link" href="/blog">
			<span class="gds-site-nav-link-icon"><i class="fas fa-blog"></i></span>
			<span class="gds-site-nav-link-title">Blog</span>
		</a>
		<a class="gds-site-nav-link" href="/about">
			<span class="gds-site-nav-link-icon"><i class="fas fa-info"></i></span>
			<span class="gds-site-nav-link-title">About</span>
		</a>

	</nav>

</header>