<form class="gds-search" action="/search">

	<div class="gds-search-terms">
		<button class="waves-effect waves-light btn-small gds-search-terms-btn" type="submit">
			<i class="fas fa-search"></i>
		</button>
		<div class="input-field gds-search-text">
			<input type="text" name="terms" id="gds-search-terms-id" class="autocomplete" autocomplete="off">
			<label for="gds-search-terms-id">Search terms</label>
		</div>
	</div>
	<div class="gds-search-filters">
		<div class="input-field gds-search-filters-values">
			<input type="text" name="filters-value" id="gds-search-filters-values-id" class="autocomplete" autocomplete="off">
			<label for="gds-search-filters-values-id">Search and add filter</label>
		</div>
		<div class="input-field gds-search-filters-types">
			<select name="filter-type">
				<option value="source">Source</option>
				<option value="dataset">Dataset</option>
				<option value="tag">Attribute</option>
			</select>
			<label>Select type of filter:</label>
		</div>
	</div>
	<div class="gds-search-filters-applied">
		<div>
			<span>Search filters:</span>
		</div>
		<div class="gds-chip">
			<span>Source:</span>
			<span>International Monetary Fund</span>
			<input type="checkbox" name="filter-source" value="International Monetary Fund" checked>
		</div>
		<div class="gds-chip">
			<span>Dataset:</span>
			<span>World Economic Outlook</span>
			<input type="checkbox" name="filter-dataset" value="World Economic Outlook" checked>
		</div>
		<div class="gds-chip">
			<span>Tag:</span>
			<span>United States of America</span>
			<input type="checkbox" name="filter-tag" value="United States of America" checked>
		</div>
		<div class="gds-chip">
			<span>Tag:</span>
			<span>Gross Domestic Product</span>
			<input type="checkbox" name="filter-tag" value="Gross Domestic Product" checked>
		</div>
		<div class="gds-chip">
			<span>Tag:</span>
			<span>Dollars</span>
			<input type="checkbox" name="filter-tag" value="Dollars" checked>
		</div>
	</div>

</form>
