.search-form {
	/*position: relative;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px
}

.search-box {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px 0px 0px 5px;
	outline: none;
}

.search-submit {
	padding: 8px 10px;
	background: #ddd;
	font-size: 16px;
	border: 1px solid #ccc;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}

.search-submit:hover {
	background: #ccc;
}

.buttom {
	padding: 8px 10px;
	background: #ddd;
	font-size: inherit;
	border: 1px solid #ccc;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
}

.buttom:hover {
	background: #ccc;
}

.search-results-list > div {
	margin-bottom: 16px
}

.search-results-list a:hover {
	/*text-decoration: none;*/
	/*color: #c45500*/
}

.card {
	display: block;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	line-height: 1.5;
}

.card h1 {
	font-size: 1.2em;
	margin: 8px 8px 8px 8px;
}

.card h2 {
	font-size: 1em;
	margin: 8px 8px 8px 8px;
}

.card h3 {
	font-size: 0.8em;
	margin: 8px 8px 8px 8px;
}

.card p {
	margin: 8px 8px 8px 8px;
}

.card ul, ol {
	margin: 0px 0px 0px 0px;
}

.card li {
	margin: 0px 0px 0px 0px;
}

.card hr {
	display: block;
	border: none;
	height: 1px;
	background-color: #ccc;
	margin: 8px 8px 8px 8px;
}

.card main {
	overflow: auto;
	max-height: 6em;
}

.card footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.icon-DataSetItem::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 0.5em;
	content: "\f0ce";
}

.icon-Source::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 0.5em;
	content: "\f468";
}

.icon-DataSet::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 0.5em;
	content: "\f466";
}

.icon-Tag::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 0.5em;
	content: "\f02b";
}

.icon-Home::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 0.5em;
	content: "\f015";
}

.icon-Add::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 0.5em;
	content: "\f067";
}

.icon-ExternalLink::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 0.5em;
	content: "\f35d";
}

.breadcrumb {
	list-style: none;
}

.breadcrumb li {
	display: inline;
}

.breadcrumb li::after {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f054";
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.breadcrumb li:last-of-type::after {
	display: none;
}

.list-horizontal {
	list-style: none;
}

.list-horizontal li {
	display: inline;
}

.list-horizontal li::after {
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-top: 0px;
	content: "";
}

.list-horizontal li:last-of-type::after {
	display: none;
}

.properties-list {
	margin-left: 0;
	list-style: none;
}

.properties-list > li { 
	margin-bottom: 6px;
	font-size: 14px;
}


