---
layout: default
db_id: imf
title: International Monetary Fund
---

{%- include search-form.html -%}

{% assign db_obj = site.data.db %}
{% assign db_index = site.data.db.index %}
{% assign db_type = site.data.objects.index.types.database %}
{% assign db_icon = db_type.icon %}
{% assign source_obj = site.data.db[page.db_id] %}
{% assign source_index = site.data.db[page.db_id].index %}
{% assign source_type = site.data.objects.index.types.source %}
{% assign source_icon = source_type.icon %}
{% assign dataset_type = site.data.objects.index.types.dataset %}
{% assign dataset_icon = dataset_type.icon %}

<a href="{{ db_index.path }}">{{ db_icon }} {{db_index.name}} </a> >
<a href="{{ source_index.path }}"> {{ source_icon }} {{ source_index.name }} </a>

<h1>{{source_index.name}}</h1>
<p>{{source_index.description}}</p>

<h2>Datasets</h2>

<ul>
	{% for dataset in source_obj %}
		{% if dataset[0] != 'index' %}
			{% assign dataset_index = dataset[1].index %}
			<li><a href="{{ dataset_index.path }}"> {{ dataset_icon }} {{ dataset_index.name }}</a>
				</br> 
				{{ dataset_index.description }}
			</li>
		{% endif %}
	{% endfor %}
</ul>