---
layout: default
---

<div class="gds-home">

{%- include search-form.html -%}

<h1>Recent updates</h1>

{% assign database = site.data.db %}

<ul class="browser-default">
	{% for source in database %}
		{% if source[0] != 'index' %}
			{% for dataset in source[1] %}
				{% if dataset[0] != 'index' %}
					<li>
						<a href="/{{database.index.id}}"><i class="fas fa-database"></i> {{database.index.name}}</a> >
						<a href="/{{database.index.id}}/{{ source[1].index.id }}"><i class="fas fa-boxes"></i> {{ source[1].index.name }} </a> >
						<a href="/{{database.index.id}}/{{ source[1].index.id }}/{{ dataset[1].index.id }}"><i class="fas fa-box"></i> {{ dataset[1].index.name }} </a>
						</br>
						{{dataset[1].index.lastUpdateDate}}
						</br>
						{{dataset[1].index.description}}
					</li>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
</ul>

{{ content }}

</div>